body{
	font-family:"Times New Roman", serif;
}
.box{
	font-size:36px;
	
}
.holder{
	display:flex;
	justify-content:space-between
	
}
.box{
	width:80px;
	height:80px;
	position:relative;
}
.num{
	position:absolute;
	top:10px;
	left:10px;
}
.green{
	background-color:green;
}
.red{
	background-color:red;
}
.blue{
	background-color:blue;
}
/* Your CSS Code here. */